<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Simon M. Haddad | Portfolio - Design</title>

<!-- Link to CSS file -->
<link href="..\css\style.css" rel="stylesheet" type="text/css">
<link href="..\css\reset.css" rel="stylesheet" type="text/css">


<script src="..\SpryAssets\SpryAccordion.js" type="text/javascript"></script>
<link href="..\SpryAssets\SpryAccordion.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script>
		!window.jQuery && document.write('<script src="../js/jquery-1.4.3.min.js"><\/script>');
	</script>
	<script type="text/javascript" src="..\js\jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="..\js\jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="..\css\fancybox2.css" media="screen">


<script type="text/javascript">
		function contact_page()
		{
			window.open("contact.html","_self");
		}
</script>


<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#example1").fancybox({
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
				'overlayColor'		: '#000',
				'overlayOpacity'	: 0.4
			});

			$("a#example2").fancybox({
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});

			$("a#example3").fancybox({
				'transitionIn'	: 'none',
				'transitionOut'	: 'none'	
			});

			$("a#example4").fancybox({
				'opacity'		: true,
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'none'
			});

			$("a#example5").fancybox();

			$("a#example6").fancybox({
				'titlePosition'		: 'outside',
				'overlayColor'		: '#000',
				'overlayOpacity'	: 0.9
			});

			$("a#example7").fancybox({
				'titlePosition'	: 'inside'
			});

			$("a#example8").fancybox({
				'titlePosition'	: 'over'
			});

			$("a[rel=example_group]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});

			/*
			*   Examples - various
			*/

			$("#various1").fancybox({
				'titlePosition'		: 'inside',
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});

			$("#various2").fancybox();

			$("#various3").fancybox({
				'width'				: '75%',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});

			$("#various4").fancybox({
				'padding'			: 0,
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});
		});
	</script>



</head>

<body>

<!-- Begin Page Wrap -->
<div id="page_wrap">

<!-- Begin Right Side Container -->
<div id="right_side">
	
    <!-- Begin Header -->
    <div id="header">
    	<a href="http://www.linkedin.com/pub/simon-haddad/35/638/272" target="_blank">
        	<img id="linkedin_icon" src="..\images\shared\smh_linkedin.png" width="44" height="43" alt="Simon Haddad Linked In Page">
    	</a>
    </div>
	<!-- End Header -->
    
    <!-- Begin Main Content -->
    <div id="main_content">
    
    	<h1><p class="heading">Design</p></h1>
        
        
	  <p class="body_copy" id="portfolio_copy">I never want to be categorized as one-dimensional. In order to adequately convey a concept, platform or program, the elements need to visually delight and quickly articulate their message. After getting well entrenched in advertsising I decided I wanted to explore corporate design. I spent a few vital years doing annual reports, developing brands, packaging and creating infographics — My appreciation for clean, concise design, strong typography and utility is something I always try to reflect in every aspect of my work.</p>
    
     
<div id="port_thumbs_container">
     
     <div class="port_piece">
     <a id="example1" href="..\images\portfolio\Design_chocolate_full.jpg"><img alt="example1" src="..\images\portfolio\Design_chocolate_thb.png"></a>
     </div>
     
     <div class="port_piece">
     <a id="example1" href="..\images\portfolio\Design_logos_full.jpg"><img alt="example1" src="..\images\portfolio\Design_logos_thb.png"></a>
	 </div>
     
     <div class="port_piece">
	 <a id="example1" href="..\images\portfolio\Design_honeybaked_full.jpg"><img alt="example1" src="..\images\portfolio\Design_honeybaked_thb.png"></a>
     </div>
     
     <div class="port_piece">
     <a id="example1" href="..\images\portfolio\Design_Burlington_full.jpg"><img alt="example1" src="..\images\portfolio\Design_Burlington_thb.png"></a>
	 </div>
     
     <div class="port_piece">
     <a id="example1" href="..\images\portfolio\Design_Tempest_full.jpg"><img alt="example1" src="..\images\portfolio\Design_Tempest_thb.png"></a>
  	 </div>
  
     <div class="port_piece">
     <a id="example1" href="..\images\portfolio\Design_Fiji_full.jpg"><img alt="example1" src="..\images\portfolio\Design_Fiji_thb.png"></a>
	 </div>
         
     
      
           
</div>     
  
    </div>
    <!-- End Main Content -->
    
</div>
<!-- End Right Side Container -->

<!-- Begin Aside -->
<div id="aside">
		<a href="..\..\index.html"><img id="smh_logo" src="..\images\shared\smh_advertising_logo.png" width="70" height="61" alt="Simon Hadad Advertising Logo"></a>
   
<!-- Begin The Menu -->
  <div id="Accordion1" class="Accordion" tabindex="0">

    <div class="AccordionPanel">
	    <div class="AccordionPanelTab">About</div>
	    <div class="AccordionPanelContent">
        	<ul id="nav_section">
            	<li><a href="bio.html">Bio</a></li>
 				<li><a href="expertise.html">Expertise</a></li>
	    		<li><a href="play.html">Play</a></li>
	    		<li><a href="awards.html">Awards</a></li>       
        	</ul>
        </div>
    </div>
	
    <div class="AccordionPanel">
	    <div class="AccordionPanelTab">Portfolio</div>
        	<div class="AccordionPanelContent">
        	<ul id="nav_section">
            	<li><a href="advertising.html">Advertising</a></li>
 				<li><a class="double_line" href="consumer_promotion.html">Consumer<br>Promotion</a></li>
	    		<li><a id="current" href="#">Design</a></li>
	    		<li><a href="digital.html">Digital</a></li>       
	    		<li><a href="events.html">Events</a></li>       
	    		<li><a class="double_line" href="shopper_marketing.html">Shopper<br>Marketing</a></li>       
        	</ul>
        </div>
    </div>
    
    <div class="AccordionPanel">
	    <div class="AccordionPanelTab" onclick="javascript: contact_page()">Contact</div>
	    <!--<div class="AccordionPanelContent">Content 2</div>-->
    </div>
    
  </div><!-- End of Menu -->

  <img src="..\images\shared\menu_fade.jpg" width="100" height="340" alt="menu_fade Graphic">

</div>  <!-- End of Aside -->


</div> <!-- End of Page Wrap -->

<script type="text/javascript">
<!--
	var Accordion1 = new Spry.Widget.Accordion("Accordion1",{ useFixedPanelHeights: false, defaultPanel: 1 });
//-->
</script>
</body>
</html>
